<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >

  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
</head>

<body>

  <header>

    <a href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    <nav>
      <a href="{{ '/' | relative_url }}">
        Blogs
      </a>

      <a href="{{ '/about/' | relative_url }}">
        About Me
      </a>
    </nav>

  </header>

  <main>
    {{ content }}
  </main>

</body>

</html>
